
/* 폰트 설정 */
@font-face {
    font-family: 'YanoneKaffeesatz_Bold';
    src: url("../Fonts/YanoneKaffeesatz-SemiBold.ttf");
}

@font-face {
    font-family: 'ZenLoop_Regular';
    src: url("../Fonts/ZenLoop-Regular.ttf");
}


/* 소제목 */
#subtitle{
    font-size: 30px;
    font-family: 'ZenLoop_Regular';
    text-align: center;
    margin-top: 4%;
    margin-bottom: 0%;
}

/* 제목 */
#title{
    font-size: 140px;
    font-family: 'YanoneKaffeesatz_Bold';
    text-align: center;
    margin-top: 1.5%;
}

/* 크기 조절 시 맞추기 */

/* 크기가 작은 컴퓨터들과 휴대폰을 위한 사이즈 */
@media  screen and (max-width: 725px){
    #subtitle{
        font-size: 20px;
    }

    #title{
        font-size: 90px;
    }
}


