
/* 폰트 설정 */
@font-face {
    font-family: 'YanoneKaffeesatz_Bold';
    src: url("../Fonts/YanoneKaffeesatz-SemiBold.ttf");
}

@font-face {
    font-family: 'ZenLoop_Regular';
    src: url("../Fonts/ZenLoop-Regular.ttf");
}

@font-face {
    font-family: 'Amaranth_Regular';
    src: url("../Fonts/Amaranth-Regular.ttf");
}

/* 모든 a태그는 밑줄이나 파란색 색깔이 없도록 */
a{
    text-decoration: none;
    color: black;
}

/* 소제목 */
#subtitle{
    font-size: 50px;
    font-family: 'ZenLoop_Regular';
    text-align: center;
    margin-top: 6%;
    margin-bottom: 0%;
}

/* 제목 */
#title{
    font-size: 200px;
    font-family: 'YanoneKaffeesatz_Bold';
    text-align: center;
    margin-top: 0.5%;
    margin-bottom: 0%;
}

/* 메뉴바 */
#menubar {
    margin: 0;
    padding: 0;
}
#menubar ul {
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
}

#menubar ul li {
    display: inline-block;
    list-style-type: none;
    padding: 0px 15px;
}

#menubar ul li a {
    color: black;
    font-family: 'Amaranth_Regular';
    font-size: 20px;
    text-decoration: none;
}

#menubar ul li a:hover{
    text-underline-position: under;
    text-decoration: underline;
}

#mainProfile{
    width: 650px;
    height: 600px;
}

section{
    text-align: center;
}

/* 크기 조절 시 맞추기 */

/* 크기가 작은 컴퓨터들과 휴대폰을 위한 사이즈 */
@media  screen and (max-width: 889px){
    #subtitle{
        font-size: 20px;
    }

    #title{
        font-size: 130px;
    }
}
@media  screen and (max-width: 657px){
    #mainProfile{
        width: 550px;
        height: 500px;
    }
}
@media  screen and (max-width: 572px){
    #menubar ul li {
        display: block;
        text-align: center;
        list-style-type: none;
        padding: 0px 15px;
    }

    #mainProfile{
        width: 350px;
        height: 300px;
    }
}


